<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="renderer" content="webkit" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <!-- 加载header组件 -->
  <%= require('raw-loader!../../raw/header.html').default %>
    <!-- 页面主体 -->
    <main id="ts_main_devcenter">
      <section class="section-devcenter">
        <div class="devcenter-pic-main"></div>
        <div class="devcenter-pic-left"></div>
        <div class="devcenter-pic-right"></div>
        <h3 class="devcenter_title sr-animate">交控科技牵头建设的国家工程实验室顺利通过验收</h3>
        <button class="devcenter_btn sr-animate">开发者博客</button>
      </section>
      <section class="section_kuaisurs">
        <h3 class="kuaisurs_title sr-animate">快速入手</h3>
        <div class="kuaisurs_item sr-animate">
          <div class="itemlist">
            <div class="icon"><i id="icon_item_1"></i></div>
            <p class="title">数据中台</p>
            <p class="detail">借助数据中台平台提供的运行环境、API，开发属于你自己的服务</p>
          </div>
          <div class="itemlist">
            <div class="icon"><i id="icon_item_2"></i></div>
            <p class="title">算法中台</p>
            <p class="detail">依托算法平台的接入能力，快速开发</p>
          </div>
          <div class="itemlist">
            <div class="icon"><i id="icon_item_3"></i></div>
            <p class="title">数据孪生</p>
            <p class="detail">借助数字孪生平台提供的生态相关组件，打造大数据应用</p>
          </div>
          <div class="itemlist">
            <div class="icon"><i id="icon_item_4"></i></div>
            <p class="title">数据中台API</p>
          </div>
          <div class="itemlist">
            <div class="icon"><i id="icon_item_4"></i></div>
            <p class="title">算法中台API</p>
          </div>
          <div class="itemlist">
            <div class="icon"><i id="icon_item_4"></i></div>
            <p class="title">数据孪生API</p>
          </div>
        </div>
      </section>
      <section class="section_yanshihuanjing">
        <h3 class="yanshihuanjing_title sr-animate">演示环境入口</h3>
        <div class="yanshihuanjing_item sr-animate">
          <div class="itemlist"></div>
          <div class="itemlist"></div>
          <div class="itemlist"></div>
        </div>
      </section>
      <section class="section_search">
        <div class="section_search_container">
          <input type="text" />
          <i id="search_icon"></i>
        </div>
      </section>
    </main>
    <!-- 加载footer组件 -->
    <%= require('raw-loader!../../raw/footer.html').default %>
</body>

</html>