<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- 加载header组件 -->
    <%= require('raw-loader!../../raw/header.html').default %>
    <main id="ts_main_devcenter">
      <section class="section-devcenter">
        <div class="sr-animate-container sr-animate">
          <h3 class="devcenter_title">天枢开发者中心</h3>
          <div class="devcenter_search">
            <input placeholder="输入搜索关键字" type="text" />
            <i id="search_icon"></i>
          </div>
        </div>
      </section>
      <section class="section_kuaisurs">
        <div class="sr-animate-container sr-animate">
          <h3 class="kuaisurs_title">快速入手</h3>
          <div class="kuaisurs_item">
            <div class="item item_1">
              <i id="icon_item_1"></i>
              <p class="title">数据中台</p>
              <p class="detail">借助数据中台平台提供的运行环境、API，开发属于你自己的服务</p>
            </div>
            <div class="item item_2">
              <i id="icon_item_2"></i>
              <p class="title">算法中台</p>
              <p class="detail">依托算法平台的接入能力，快速开发</p>
            </div>
            <div class="item item_3">
              <i id="icon_item_3"></i>
              <p class="title">数据孪生</p>
              <p class="detail">借助数字孪生平台提供的生态相关组件，打造大数据应用</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section_kaifazy">
        <div class="sr-animate-container sr-animate">
          <h3 class="kaifazy_title">开发资源</h3>
          <div class="kaifazy_center">平台API开放</div>
          <div class="kaifazy_item">
            <div class="item item_1">
              <i id="icon_item_4"></i>
              <p class="title">数据中台API</p>
            </div>
            <div class="item item_2">
              <i id="icon_item_5"></i>
              <p class="title">算法中台API</p>
            </div>
            <div class="item item_3">
              <i id="icon_item_6"></i>
              <p class="title">数据孪生API</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- 加载footer组件 -->
    <%= require('raw-loader!../../raw/footer.html').default %>
  </body>
</html>
