<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- 加载header组件 -->
    <%= require('raw-loader!../../raw/header.html').default %>
    <main id="ts_main_amos">
      <section class="section_amos">
        <div class="sr-animate-container sr-animate">
          <h3 class="section_amos_title">AMOS</h3>
        </div>
      </section>
      <section class="section_chengkefw">
        <div class="sr-animate-container sr-animate">
          <div class="chengkefw_left">
            <h3 class="left_top"><i></i>乘客服务</h3>
            <div class="left_center">
              <h5 class="left_center_l"><i></i>人员提升</h5>
              <h5 class="left_center_c"><i></i>行车调度</h5>
              <h5 class="left_center_r"><i></i>维护维修</h5>
            </div>
            <h3 class="left_bottom"><i></i>日常管理</h3>
          </div>
          <div class="chengkefw_center">
            <p class="item exp_1">结果/过程监控</p>
            <p class="item exp_2">问题诊断</p>
            <p class="item exp_3">决策支援</p>
            <p class="item exp_4">智能预测</p>
          </div>
          <div class="chengkefw_right">
            <p class="item exp_1">从企业核心关注的目标开始分解，打通资料死循环，所有关注结果可视；<br />目标分解过程中的过程节点进行数据可视分析，关注过程的影响节点。</p>
            <p class="item exp_2">
              层层监测业务中的关键节点，并能对数据进行关联分析，找到影响业务的核心关键节点<br />具备回馈机制，定位出业务问题，改进业务问题，再进行监测改进效果<br />形成管理死循环，基于业务问题，驱动管理形成死循环
            </p>
            <p class="item exp_3">
              决策层，将关注结果呈现，直接呈现问题，提醒关注<br />管理层，根据目标分解的动作，回馈每一个动作的执行状态，并能够基于数据快速指导业务<br />执行层，工作中的每一项细则，基于数据展现，辅助思考，减少失误
            </p>
            <p class="item exp_4">设备故障预测<br />场景式业务形态预测<br />场景式业务形态提醒</p>
          </div>
        </div>
      </section>
      <section class="section_tezheng">
        <div class="sr-animate-container sr-animate">
          <div class="tezheng_img">
            <span class="tezheng_img_exp_1">数据支持</span>
            <span class="tezheng_img_exp_2"><span>数</span><span>据</span><span>驾</span><span>驶</span><span>仓</span></span>
            <span class="tezheng_img_exp_3">预警</span>
            <span class="tezheng_img_exp_4">在线会议联动</span>
            <span class="tezheng_img_exp_5">讨论决策</span>
            <span class="tezheng_img_exp_6">任务跟踪</span>
            <span class="tezheng_img_exp_7">计划</span>
            <span class="tezheng_img_exp_8">处置</span>
            <span class="tezheng_img_exp_9">执行</span>
            <span class="tezheng_img_exp_10">检查</span>
          </div>
          <h3 class="tezheng_title">特征</h3>
          <div class="tezheng_exp_1">
            <i>1</i>
            <p>所有情况、数据实时感知、更新，无需收集准备</p>
          </div>
          <div class="tezheng_exp_2">
            <i>2</i>
            <p>沟通随时随地</p>
          </div>
          <div class="tezheng_exp_3">
            <i>3</i>
            <p>决策PDCA自动闭环执行跟踪</p>
          </div>
          <div class="tezheng_exp_4">
            <i>4</i>
            <p>决策过程自主学习</p>
          </div>
        </div>
      </section>
      <section class="section_aicde">
        <div class="sr-animate-container sr-animate">
          <div class="aicde_top">
            <div class="item top_1">
              <div class="item_img"></div>
              <h3 class="item_title">数据收集自动化</h3>
              <h5 class="item_detail">连通各业务系统，打破数据孤岛；智能设备自动收集</h5>
            </div>
            <div class="item top_2">
              <div class="item_img"></div>
              <h3 class="item_title">业务分析可视化</h3>
              <h5 class="item_detail">数据展示、提炼自动化，快速按需整合到想看的内容，快速提炼结论</h5>
            </div>
            <div class="item top_3">
              <div class="item_img"></div>
              <h3 class="item_title">沟通决策实时化</h3>
              <h5 class="item_detail">联动ZOOM、腾讯会议等会议系统实现无滞后的实时沟通，完成决策</h5>
            </div>
          </div>
          <div class="aicde_bottom">
            <div class="bottom_item_1">
              <p>全数据库兼容技术</p>
              <p>海量数据实时处理</p>
              <p>基于5G的实时通信</p>
            </div>
            <div class="bottom_item_2">
              <p>多系统接口技术</p>
              <p>数据挖掘与分析</p>
              <p>语义分析</p>
            </div>
            <div class="bottom_item_3">
              <p>自然语言处理</p>
              <p>机器学习</p>
              <p>跨屏互动</p>
            </div>
            <div class="bottom_item_4">
              <p>……</p>
              <p>……</p>
              <p>……</p>
            </div>
            <div class="bottom_item_5">5G + AICDE</div>
          </div>
        </div>
      </section>
    </main>
    <!-- 加载footer组件 -->
    <%= require('raw-loader!../../raw/footer.html').default %>
  </body>
</html>
