<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- 加载header组件 -->
    <%= require('raw-loader!../../raw/header.html').default %>
    <main id="ts_main_amos">
      <section class="section_amos">
        <h3 class="section_amos_title sr-animate">AMOS</h3>
      </section>
      <section class="section_shujuksh">
        <div class="section_shujuksh_container sr-animate">
          <h3 class="section_shujuksh_title">数据<br />可视化</h3>
          <p class="titile_exp_1">报表</p>
          <p class="titile_exp_2">图标</p>
          <p class="titile_exp_3">Dash<br />board</p>
          <p class="titile_exp_4">数据分析<br />APP</p>
          <h3 class="section_shujuksh_subtitle">任务<br />跟踪</h3>
          <p class="subtitle_exp_1">计划<br />Plan</p>
          <p class="subtitle_exp_2">执行<br />Do</p>
          <p class="subtitle_exp_3">检查<br />Check</p>
          <p class="subtitle_exp_4">处置<br />Act</p>
          <p class="subtitle_exp_5">预警</p>
          <p class="subtitle_exp_6">智能<br />预测</p>
          <p class="subtitle_exp_7">报警</p>
          <p class="subtitle_exp_8">数据<br />上传</p>
          <p class="subtitle_exp_9">决策<br />数据<br />管理</p>
          <p class="subtitle_exp_10">数据<br />下载</p>
          <p class="subtitle_exp_11">AMOS<br />数据仓库</p>
          <p class="subtitle_exp_12">天枢</p>
          <div class="subtitle_line"></div>
        </div>
      </section>
      <section class="section_jueceshujugl">
        <div class="section_jueceshujugl_container sr-animate">
          <div class="section_jueceshujugl_itemlist">
            <div class="item">
              <i class="item_i item_i_1"></i>
              <div class="item_exp">
                <h5>决策数据管理</h5>
                <p>依据数据采集规范，统一数据归口和数据出口，为上层数据应用提供支持。</p>
              </div>
            </div>
            <div class="item">
              <i class="item_i item_i_2"></i>
              <div class="item_exp">
                <h5>数据可视化</h5>
                <p>从企业核心目标开始分解，根据业务需求对数据进行直观展示。</p>
              </div>
            </div>
            <div class="item">
              <i class="item_i item_i_3"></i>
              <div class="item_exp">
                <h5>任务跟踪</h5>
                <p>基于数据基础辅助决策，实施任务过程监控，行成管理闭环。</p>
              </div>
            </div>
            <div class="item">
              <i class="item_i item_i_4"></i>
              <div class="item_exp">
                <h5>智能提醒</h5>
                <p>对任务进行过程监控，通过决策结果触发预警、报警功能。</p>
              </div>
            </div>
          </div>
          <section class="section_jueceshujugl_pic"></section>
        </div>
      </section>
    </main>
    <!-- 加载footer组件 -->
    <%= require('raw-loader!../../raw/footer.html').default %>
  </body>
</html>
