@import 'common/index';

#ts_main_amos {
    width: 100%;

    // 数据中台
    .section_amos {
        width: 100%;
        height: 600px;
        overflow: hidden;
        color: #ffffff;
        background: url('@/assets/img/amos/81cc698.jpg') no-repeat center -50px;
        background-size: 100%;
        position: relative;

        &:before {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 600px;
            background-color: rgba(9, 28, 122, 0.7);
        }

        .section_amos_title {
            position: absolute;
            height: 60px;
            font-size: 60px;
            font-weight: bold;
            line-height: 60px;
            letter-spacing: 10px;
            left: 50%;
            transform: translateX(-50%);
            top: 227px;
        }
    }

    .section_chengkefw {
        width: 100%;
        height: 726px;
        background: #FFFFFF;
        position: relative;

        .chengkefw_left {
            position: absolute;
            top: 122px;
            left: 279px;
            width: 651px;
            height: 462px;

            &:before {
                content: ' ';
                position: absolute;
                width: 559px;
                height: 388px;
                background: #F4F4F4;
                border-radius: 20px;
                top: 36px;
                left: 46px;
            }

            .left_top {
                position: absolute;
                width: 421px;
                height: 64px;
                border: 1PX solid rgba(51, 102, 255, 1);
                border-radius: 20px;
                background: rgba(51, 102, 255, 0.7);
                left: 115px;
                font-size: 18px;
                line-height: 60px;
                color: #FFFFFF;
                letter-spacing: 1px;
                text-indent: 205px;

                i {
                    width: 32px;
                    height: 42px;
                    position: absolute;
                    top: 9px;
                    left: 140px;
                    background: url('@/assets/img/amos/z527.svg') no-repeat center center;
                    background-size: 100% 100%;
                }
            }

            .left_center {
                position: absolute;
                width: 100%;
                height: 64px;
                top: 198px;
                line-height: 60px;
                color: #FFFFFF;
                letter-spacing: 1px;

                .left_center_l {
                    position: absolute;
                    width: 177px;
                    font-size: 18px;
                    height: 64px;
                    border: 1PX solid rgba(51, 102, 255, 1);
                    border-radius: 20px;
                    background: rgba(51, 102, 255, 0.7);
                    text-indent: 69px;

                    i {
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        top: 17px;
                        left: 31px;
                        background: url('@/assets/img/amos/z528.svg') no-repeat center center;
                        background-size: 100% 100%;
                    }
                }

                .left_center_c {
                    position: absolute;
                    width: 177px;
                    font-size: 18px;
                    height: 64px;
                    left: 237px;
                    border: 1PX solid rgba(51, 102, 255, 1);
                    border-radius: 20px;
                    background: rgba(51, 102, 255, 0.7);
                    text-indent: 69px;

                    i {
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        top: 17px;
                        left: 31px;
                        background: url('@/assets/img/amos/z529.svg') no-repeat center center;
                        background-size: 100% 100%;
                    }
                }

                .left_center_r {
                    position: absolute;
                    width: 177px;
                    font-size: 18px;
                    right: 0px;
                    height: 64px;
                    border: 1PX solid rgba(51, 102, 255, 1);
                    border-radius: 20px;
                    background: rgba(51, 102, 255, 0.7);
                    text-indent: 69px;

                    i {
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        top: 17px;
                        left: 31px;
                        background: url('@/assets/img/amos/z532.svg') no-repeat center center;
                        background-size: 100% 100%;
                    }
                }
            }

            .left_bottom {
                position: absolute;
                width: 421px;
                height: 64px;
                border: 1PX solid rgba(51, 102, 255, 1);
                border-radius: 20px;
                background: rgba(51, 102, 255, 0.7);
                left: 115px;
                bottom: 0px;
                font-size: 18px;
                line-height: 60px;
                color: #FFFFFF;
                letter-spacing: 1px;
                text-indent: 205px;

                i {
                    width: 38px;
                    height: 32px;
                    position: absolute;
                    top: 16px;
                    left: 137px;
                    background: url('@/assets/img/amos/z533.svg') no-repeat center center;
                    background-size: 100% 100%;
                }
            }
        }

        .chengkefw_center {
            position: absolute;
            width: 190px;
            height: 514px;
            left: 980px;
            bottom: 106px;

            .item {
                position: absolute;
            }

            .exp_1 {
                position: absolute;
                width: 100%;
                height: 48px;
                border: 1PX solid #3366FF;
                border-radius: 10px;
                font-size: 18px;
                line-height: 44px;
                color: #3366FF;
                text-align: center;
                letter-spacing: 1px;
            }

            .exp_2 {
                position: absolute;
                bottom: 311px;
                width: 100%;
                height: 48px;
                border: 1PX solid #3366FF;
                border-radius: 10px;
                font-size: 18px;
                line-height: 44px;
                color: #3366FF;
                text-align: center;
                letter-spacing: 1px;
            }

            .exp_3 {
                position: absolute;
                bottom: 155px;
                width: 100%;
                height: 48px;
                border: 1PX solid #3366FF;
                border-radius: 10px;
                font-size: 18px;
                line-height: 44px;
                color: #3366FF;
                text-align: center;
                letter-spacing: 1px;
            }

            .exp_4 {
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 48px;
                border: 1PX solid #3366FF;
                border-radius: 10px;
                font-size: 18px;
                line-height: 44px;
                color: #3366FF;
                text-align: center;
                letter-spacing: 1px;
            }
        }

        .chengkefw_right {
            position: absolute;
            top: 60px;
            left: 1183px;
            width: 460px;
            height: 606px;

            .item {
                width: 100%;
                height: 140px;
                background: #F4F4F4;
                border-radius: 22px;
                font-size: 14px;
                line-height: 23px;
                color: #101426;
                letter-spacing: 0.5px;
            }

            .exp_1 {
                position: absolute;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 17px;
            }

            .exp_2 {
                position: absolute;
                top: 155px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 14px;
            }

            .exp_3 {
                position: absolute;
                top: 311px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 14px;
            }

            .exp_4 {
                position: absolute;
                top: 466px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 32px;
            }
        }
    }

    .section_tezheng {
        width: 100%;
        height: 600px;
        background: #F4F4F4;
        position: relative;

        .tezheng_img {
            position: absolute;
            top: 40px;
            left: 279px;
            width: 813px;
            height: 520px;
            color: #FFFFFF;
            background: url('@/assets/img/amos/1016png.png') no-repeat center center;
            background-size: 90%;

            .tezheng_img_exp_1 {
                position: absolute;
                left: 237px;
                top: 50px;
                font-size: 14px;
                letter-spacing: 1px;
            }

            .tezheng_img_exp_2 {
                position: absolute;
                font-size: 17px;

                span:nth-child(1) {
                    position: absolute;
                    left: 204px;
                    top: 130px;
                    transform: rotate(-25deg);
                }

                span:nth-child(2) {
                    position: absolute;
                    left: 228px;
                    top: 122px;
                    transform: rotate(-13deg);
                }

                span:nth-child(3) {
                    position: absolute;
                    left: 257px;
                    top: 119px;
                }

                span:nth-child(4) {
                    position: absolute;
                    left: 287px;
                    top: 122px;
                    transform: rotate(13deg);
                }

                span:nth-child(5) {
                    position: absolute;
                    left: 314px;
                    top: 130px;
                    transform: rotate(25deg);
                }
            }

            .tezheng_img_exp_3 {
                position: absolute;
                left: 80px;
                top: 235px;
                font-size: 14px;
                letter-spacing: 1px;
            }

            .tezheng_img_exp_4 {
                position: absolute;
                width: 50px;
                left: 72px;
                top: 372px;
                font-size: 14px;
                letter-spacing: 1px;
            }

            .tezheng_img_exp_5 {
                position: absolute;
                left: 230px;
                top: 255px;
                font-size: 19px;
                letter-spacing: 2px;
            }

            .tezheng_img_exp_6 {
                position: absolute;
                left: 547px;
                top: 130px;
                font-size: 19px;
                letter-spacing: 2px;
            }

            .tezheng_img_exp_7 {
                position: absolute;
                left: 434px;
                top: 244px;
                font-size: 14px;
                letter-spacing: 1px;
            }

            .tezheng_img_exp_8 {
                position: absolute;
                left: 434px;
                top: 374px;
                font-size: 14px;
                letter-spacing: 1px;
            }

            .tezheng_img_exp_9 {
                position: absolute;
                left: 710px;
                top: 244px;
                font-size: 14px;
                letter-spacing: 1px;
            }

            .tezheng_img_exp_10 {
                position: absolute;
                left: 710px;
                top: 374px;
                font-size: 14px;
                letter-spacing: 1px;
            }
        }

        .tezheng_title {
            position: absolute;
            top: 145px;
            left: 1225px;
            height: 36px;
            line-height: 36px;
            font-size: 36px;
            color: #101426;
            letter-spacing: 1px;

            &:after {
                content: ' ';
                position: absolute;
                left: 0px;
                top: 55px;
                width: 140px;
                height: 0px;
                border-bottom: 3PX dashed #1F52FF;
                transform: skewY(-29deg);
            }
        }

        .tezheng_exp_1 {
            position: absolute;
            left: 1225px;
            top: 274px;
            font-size: 16px;
            height: 16px;
            line-height: 16px;
            letter-spacing: 1px;

            i {
                position: absolute;
                top: -5px;
                font-style: normal;
                color: #ffffff;
                position: absolute;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background: #3366FF;
                border-radius: 50%;
            }

            p {
                display: inline-block;
                text-indent: 53px;
            }
        }

        .tezheng_exp_2 {
            position: absolute;
            left: 1225px;
            top: 327px;
            font-size: 16px;
            height: 16px;
            line-height: 16px;
            letter-spacing: 1px;

            i {
                position: absolute;
                top: -5px;
                font-style: normal;
                color: #ffffff;
                position: absolute;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background: #3366FF;
                border-radius: 50%;
            }

            p {
                display: inline-block;
                text-indent: 53px;
            }
        }

        .tezheng_exp_3 {
            position: absolute;
            left: 1225px;
            top: 379px;
            font-size: 16px;
            height: 16px;
            line-height: 16px;
            letter-spacing: 1px;

            i {
                position: absolute;
                top: -5px;
                font-style: normal;
                color: #ffffff;
                position: absolute;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background: #3366FF;
                border-radius: 50%;
            }

            p {
                display: inline-block;
                text-indent: 53px;
            }
        }

        .tezheng_exp_4 {
            position: absolute;
            left: 1225px;
            top: 432px;
            font-size: 16px;
            height: 16px;
            line-height: 16px;
            letter-spacing: 1px;

            i {
                position: absolute;
                top: -5px;
                font-style: normal;
                color: #ffffff;
                position: absolute;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background: #3366FF;
                border-radius: 50%;
            }

            p {
                display: inline-block;
                text-indent: 53px;
            }
        }
    }

    .section_aicde {
        width: 100%;
        height: 710px;
        background: #FFFFFF;
        position: relative;

        .aicde_top {
            width: 1365px;
            height: 332px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 92px;
            display: flex;
            justify-content: space-between;

            .item {
                width: 320px;
                height: 332px;

                &:before {
                    content: ' ';
                    position: absolute;
                    top: 20px;
                    width: 320px;
                    height: 140px;
                    border: 1PX solid #3366FF;
                    border-radius: 24px;
                }

                .item_title {
                    height: 18px;
                    font-size: 18px;
                    line-height: 90px;
                    color: #101426;
                    letter-spacing: 1px;
                }

                .item_detail {
                    padding-top: 60px;
                    font-size: 14px;
                    line-height: 24px;
                    color: #666666;
                    letter-spacing: 0.5px;
                }
            }

            .top_1 {
                .item_img {
                    width: 322px;
                    height: 192px;
                    background: url('@/assets/img/amos/z1018.png') no-repeat center center;
                    background-size: 100% 100%;
                }
            }

            .top_2 {
                .item_img {
                    width: 322px;
                    height: 186px;
                    background: url('@/assets/img/amos/z1019.png') no-repeat center center;
                    background-size: 100% 100%;
                }
            }

            .top_3 {
                .item_img {
                    width: 322px;
                    height: 178px;
                    background: url('@/assets/img/amos/z1020.png') no-repeat center center;
                    background-size: 100% 100%;
                }
            }
        }

        .aicde_bottom {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 454px;
            width: 1232px;
            height: 256px;
            background: linear-gradient(360deg, rgba(51, 102, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);

            p {
                height: 18px;
                font-size: 18px;
                line-height: 18px;
                color: #3366FF;
                letter-spacing: 1px;
                text-align: center;
            }

            .bottom_item_1 {
                position: absolute;
                left: 75px;
                top: 9px;
                width: 1080px;
                height: 18px;
                display: flex;
                justify-content: space-between;
            }

            .bottom_item_2 {
                position: absolute;
                left: 144px;
                top: 47px;
                width: 880px;
                height: 18px;
                display: flex;
                justify-content: space-between;
            }

            .bottom_item_3 {
                position: absolute;
                left: 195px;
                top: 85px;
                width: 800px;
                height: 18px;
                display: flex;
                justify-content: space-between;
            }

            .bottom_item_4 {
                position: absolute;
                left: 258px;
                top: 123px;
                width: 700px;
                height: 18px;
                display: flex;
                justify-content: space-between;
            }

            .bottom_item_5 {
                position: absolute;
                width: 235px;
                height: 54px;
                border: 1PX solid #FFFFFF;
                color: #ffffff;
                font-size: 32px;
                font-weight: bold;
                line-height: 54px;
                letter-spacing: 2.5px;
                text-align: center;
                left: 498px;
                top: 170px;
            }

            &:before {
                content: ' ';
                border-width: 0px 328px 256px 0px;
                border-style: solid;
                border-color: transparent transparent #ffffff transparent;
                position: absolute;
                left: 0px;
                bottom: 0px;
            }

            &:after {
                content: ' ';
                border-width: 0px 0px 256px 328px;
                border-style: solid;
                border-color: transparent transparent #ffffff transparent;
                position: absolute;
                right: 0px;
                bottom: 0px;
            }
        }
    }
}
