@import 'common/index.styl';

#ts_main_index {
    width: 100%;

    // 主视觉
    .tianshu_main {
        width: 100%;
        height: 0;
        padding-bottom: 50%;
        background: url('@/assets/img/index/tx11.jpg') no-repeat center center;
        background-size: 100% 100%;
        color: #FFFFFF;
        overflow: hidden;
        z-index: 1;
        position: relative;

        h2 {
            font-size: 60px;
            font-weight: bold;
            line-height: 60px;
            letter-spacing: 3px;
            margin-top: 365px;
            text-align: center;
        }

        h5 {
            font-size: 18px;
            line-height: 18px;
            letter-spacing: 1px;
            margin-top: 27px;
            text-align: center;
        }

        h4 {
            font-size: 18px;
            line-height: 31px;
            letter-spacing: 1px;
            margin-top: 51px;
            text-align: center;
        }
    }

    // 天枢平台
    .tianshupt {
        width: 100%;
        height: 900px;
        color: #ffffff;

        .tianshupt_container {
            width: $g-width;
            height: 100%;
            margin: 0 auto;
            position: relative;

            .left_circle {
                width: 671px;
                height: 671px;
                border: 1px solid rgba(51, 102, 255, 0.5);
                border-radius: 50%;
                position: absolute;
                top: -57px;
                left: -326px - 285px;

                &:before {
                    content: ' ';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #3366FF;
                    border-radius: 50%;
                    right: 16px;
                    bottom: 452px;
                }

                &:after {
                    content: ' ';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #3366FF;
                    border-radius: 50%;
                    right: 13px;
                    bottom: 212px;
                }
            }

            .right_circle {
                width: 789px;
                height: 789px;
                border: 1px solid rgba(51, 102, 255, 0.5);
                border-radius: 50%;
                position: absolute;
                top: -120px;
                right: -162px - 285px;

                &:before {
                    content: ' ';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #3366FF;
                    border-radius: 50%;
                    left: 8px;
                    bottom: 505px;
                }

                &:after {
                    content: ' ';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #3366FF;
                    border-radius: 50%;
                    left: 7px;
                    bottom: 269px;
                }
            }

            .bottom_circle {
                width: 789px;
                height: 789px;
                border: 1px solid rgba(51, 102, 255, 0.5);
                border-radius: 50%;
                position: absolute;
                bottom: -570px;
                left: 260px - 285px;

                &:before {
                    content: ' ';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #3366FF;
                    border-radius: 50%;
                    right: 215px;
                    top: 33px;
                }
            }

            .title_circle {
                position: absolute;
                border: 1px solid #3366FF;
                border-radius: 50%;
                left: 50%;
                transform: translateX(-50%);
            }

            .frag1 {
                width: 514px;
                height: 514px;
                top: 145px;

                &:before {
                    content: ' ';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #3366FF;
                    border-radius: 50%;
                    left: 248px;
                    top: -8px;
                }

                &:after {
                    content: ' ';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #3366FF;
                    border-radius: 50%;
                    left: 59px;
                    bottom: 74px;
                }
            }

            .frag2 {
                width: 480px;
                height: 480px;
                top: 162px;

                &:before {
                    content: ' ';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #3366FF;
                    border-radius: 50%;
                    left: 144px;
                    top: 9px;
                }
            }

            .frag3 {
                width: 446px;
                height: 446px;
                top: 178px;

                &:before {
                    content: ' ';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #3366FF;
                    border-radius: 50%;
                    left: 435px;
                    top: 193px;
                }
            }

            .frag4 {
                width: 412px;
                height: 412px;
                top: 195px;
            }

            .frag5 {
                width: 378px;
                height: 378px;
                top: 212px;

                &:before {
                    content: ' ';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #3366FF;
                    border-radius: 50%;
                    left: 103px;
                    bottom: 7px;
                }
            }

            .frag6 {
                width: 344px;
                height: 344px;
                top: 229px;

                &:before {
                    content: ' ';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #3366FF;
                    border-radius: 50%;
                    left: 167px;
                    bottom: -8px;
                }
            }

            .title {
                position: absolute;
                width: 310px;
                height: 310px;
                line-height: 310px;
                text-align: center;
                border: 1px solid #3366FF;
                border-radius: 50%;
                top: 247px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 48px;
                font-weight: bold;
                color: #242424;
                letter-spacing: 5px;

                &:before {
                    content: ' ';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #3366FF;
                    border-radius: 50%;
                    left: -8px;
                    top: 141px;
                }

                &:after {
                    content: ' ';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #3366FF;
                    border-radius: 50%;
                    right: 5px;
                    bottom: 91px;
                }
            }

            .icon_bg {
                position: absolute;
                height: 70px;
                width: 70px;
            }

            .icon_1 {
                background: url('@/assets/img/index/z966.svg') no-repeat center center;
                background-size: 100% 100%;
                top: 205px;
                left: 50%;
                transform: translateX(-300%);
            }

            .icon_2 {
                background: url('@/assets/img/index/z965.svg') no-repeat center center;
                background-size: 100% 100%;
                top: 191px;
                left: 50%;
                transform: translateX(-20%);
            }

            .icon_3 {
                background: url('@/assets/img/index/z963.svg') no-repeat center center;
                background-size: 100% 100%;
                top: 198px;
                left: 50%;
                transform: translateX(220%);
            }

            .icon_4 {
                background: url('@/assets/img/index/z967.svg') no-repeat center center;
                background-size: 100% 100%;
                top: 336px;
                left: 50%;
                transform: translateX(-430%);
            }

            .icon_5 {
                background: url('@/assets/img/index/z968.svg') no-repeat center center;
                background-size: 100% 100%;
                top: 456px;
                left: 50%;
                transform: translateX(-230%);
            }

            .icon_6 {
                background: url('@/assets/img/index/z964.svg') no-repeat center center;
                background-size: 100% 100%;
                top: 409px;
                left: 50%;
                transform: translateX(250%);
            }

            .icon_7 {
                background: url('@/assets/img/index/z969.svg') no-repeat center center;
                background-size: 100% 100%;
                top: 589px;
                left: 50%;
                transform: translateX(-90%);
            }

            .icon_8 {
                background: url('@/assets/img/index/z970.svg') no-repeat center center;
                background-size: 100% 100%;
                top: 540px;
                left: 50%;
                transform: translateX(190%);
            }

            .text {
                font-size: 17px;
                font-weight: 600;
                color: #242424;
                line-height: 95px;
                letter-spacing: 1px;

                p {
                    font-size: 15px;
                    padding-bottom: 14px;
                    line-height: 27px;
                    font-weight: 400;
                    color: #666666;
                }
            }

            .left_top {
                position: absolute;
                left: 341px - 285px;
                top: 108px;
            }

            .left_bottom {
                position: absolute;
                left: 341px - 285px;
                top: 348px;

                p {
                    width: 224px;
                }
            }

            .right_top {
                position: absolute;
                left: 1320px - 285px;
                top: 108px;
            }

            .right_bottom {
                position: absolute;
                left: 1320px - 285px;
                top: 347px;
            }

            .center_bottom {
                position: absolute;
                bottom: 48px;
                left: 850px - 285px;

                p {
                    letter-spacing: 0px;
                }
            }
        }
    }

    // 数据中台
    .shujuzt {
        width: 100%;
        position: relative;
        height: 600px;
        background-color: #f4f4f4;
        z-index: 9;

        .shujuzt_container {
            width: $g-width;
            height: 100%;
            margin: 0 auto;
            overflow: hidden;

            .shujuzt_pic {
                float: left;
                width: 740px;
                height: 371px;
                margin-top: 125px;
                background: url('@/assets/img/index/mbz457.png') no-repeat center center;
                background-size: 100% 100%;
            }

            .shujuzt_contain {
                float: right;
                width: 569px;
                margin-top: 167px;

                h3 {
                    height: 36px;
                    font-size: 36px;
                    color: #101426;
                    margin-bottom: 40px;
                }

                h5 {
                    height: 123px;
                    font-size: 14px;
                    line-height: 32px;
                    color: #666666;
                    letter-spacing: 0px;
                    margin-bottom: 25px;
                }

                a {
                    display: inline-block;
                    width: 180px;
                    height: 48px;
                    line-height: 48px;
                    text-align: center;
                    background: #3366FF;
                    border-radius: 7px;
                    font-size: 18px;
                    color: #FFFFFF;
                }
            }
        }
    }

    // 算法中台
    .suanfazt {
        width: 100%;
        height: 600px;
        background: #FFFFFF;
        position: relative;
        z-index: 5;

        .suanfazt_container {
            width: $g-width;
            height: 100%;
            margin: 0 auto;
            overflow: hidden;

            .suanfazt_left {
                float: left;

                h3 {
                    color: #101426;
                    height: 36px;
                    font-size: 36px;
                    color: #101426;
                    margin-top: 160px;
                }

                h5 {
                    width: 570px;
                    height: 94px;
                    font-size: 14px;
                    line-height: 32px;
                    color: #666666;
                    margin-top: 44px;
                }

                a {
                    display: inline-block;
                    margin-top: 60px;
                    width: 180px;
                    height: 48px;
                    background: #3366FF;
                    border-radius: 6px;
                    color: #fff;
                    font-size: 18px;
                    line-height: 48px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            .suanfazt_right {
                width: 611px;
                height: 382px;
                margin-top: 119px;
                background: url('@/assets/img/index/z1021.png') no-repeat center center;
                background-size: 100% 100%;
                float: right;
                position: relative;

                h3 {
                    height: 20px;
                    font-size: 20px;
                    font-weight: bold;
                    color: #333333;
                    position: absolute;
                    top: 36px;
                    left: 275px;
                }

                h5 {
                    position: absolute;
                    display: inline-block;
                    height: 14px;
                    font-size: 14px;
                    color: #333333;
                }

                .exp1 {
                    bottom: 37px;
                    left: 62px;
                }

                .exp2 {
                    bottom: 135px;
                    left: 146px;
                }

                .exp3 {
                    bottom: 183px;
                    left: 280px;
                }

                .exp4 {
                    bottom: 135px;
                    left: 422px;
                }

                .exp5 {
                    bottom: 37px;
                    left: 494px;
                }
            }
        }
    }
}
