@import 'common/index';

#ts_main_ipss {
    width: 100%;

    // ipss
    .section_ipss {
        width: 100%;
        height: 0;
        padding-bottom: 31.25%;
        color: #ffffff;
        background: url('@/assets/img/ipss/001.jpg') no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        overflow: hidden;

        &:before {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 0;
            padding-bottom: 31.25%;
            background-color: rgba(9, 28, 122, 0.7);
        }

        .section_ipss_title {
            font-size: 60px;
            font-weight: bold;
            line-height: 60px;
            letter-spacing: 7.5px;
            margin-top: 227px;
            text-align: center;
        }

        .section_ipss_subtitle {
            height: 20px;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 1px;
            margin-top: 40px;
            text-align: center;
        }
    }

    .section_chuxingcj {
        width: 100%;
        height: 796px;
        background: #FFFFFF;
        overflow: hidden;

        .section_chuxingcj_container {
            width: $g-width;
            height: 100%;
            margin: 0 auto;
            position: relative;

            .chuxingcj_pic {
                position: absolute;
                top: -2px;
                left: 309px - 279px;
                width: 1264px;
                height: 801px;
                background: url('@/assets/img/ipss/dtz.png') no-repeat center center;
                background-size: 100% 100%;
            }

            .chuxingcj_lib {
                width: 152px;
                height: 39px;
                border: 1px solid #3365FF;
                background: rgba(51, 102, 255, 0.7);
                font-size: 18px;
                line-height: 37px;
                text-align: center;
                color: #FFFFFF;
                letter-spacing: 1px;
                border-radius: 11px;
                position: absolute;
            }

            .lib_1 {
                left: 782px - 279px;
                top: 62px;
            }

            .lib_2 {
                left: 713px - 279px;
                top: 240px;
            }

            .lib_3 {
                left: 1028px - 279px;
                top: 240px;
            }

            .lib_4 {
                left: 1201px - 279px;
                top: 398px;
            }

            .lib_5 {
                left: 1421px - 279px;
                top: 510px;
            }

            .lib_6 {
                left: 637px - 279px;
                top: 119px;
            }

            .chuxingcj_top {
                .bg_ipss {
                    position: absolute;
                    width: 252px;
                    height: 122px;
                    border: 1px solid #3366FF;
                    border-radius: 6px;
                    top: 89px;
                    left: 1297px - 279px;
                }

                .c_ipss {
                    position: absolute;
                    width: 120px;
                    height: 32px;
                    background: #FFFFFF;
                    border: 1px solid #3366FF;
                    border-radius: 8px;
                    line-height: 32px;
                    font-size: 14px;
                    color: #3366FF;
                    letter-spacing: 1px;
                    text-align: center;
                    top: 73px;
                    left: 1390px - 279px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        width: 0px;
                        height: 28px;
                        border-left: 1px solid #3366FF;
                        left: 61px;
                        top: 32px;
                    }
                }

                .s_ipss {
                    position: absolute;
                    width: 120px;
                    height: 32px;
                    background: #FFFFFF;
                    border: 1px solid #3366FF;
                    border-radius: 8px;
                    line-height: 32px;
                    font-size: 14px;
                    color: #3366FF;
                    letter-spacing: 1px;
                    text-align: center;
                    top: 134px;
                    left: 1390px - 279px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        width: 0px;
                        height: 30px;
                        border-left: 1px solid #3366FF;
                        left: 61px;
                        top: 32px;
                    }

                    &:before {
                        content: ' ';
                        position: absolute;
                        width: 34px;
                        height: 0px;
                        border-bottom: 1px solid #3366FF;
                        left: -35px;
                        top: 13px;
                    }
                }

                .t_ipss {
                    position: absolute;
                    width: 120px;
                    height: 32px;
                    background: #FFFFFF;
                    border: 1px solid #3366FF;
                    border-radius: 8px;
                    line-height: 32px;
                    font-size: 14px;
                    color: #3366FF;
                    letter-spacing: 1px;
                    text-align: center;
                    top: 195px;
                    left: 1390px - 279px;
                }

                .m_ipss {
                    position: absolute;
                    width: 120px;
                    height: 32px;
                    background: #FFFFFF;
                    border: 1px solid #3366FF;
                    border-radius: 8px;
                    line-height: 32px;
                    font-size: 14px;
                    color: #3366FF;
                    letter-spacing: 1px;
                    text-align: center;
                    top: 134px;
                    left: 1237px - 279px;
                }
            }

            .chuxingcj_bottom {
                width: 650px;
                height: 240px;
                position: absolute;
                left: 279px - 279px;
                top: 499px;

                .chuxingcj_bottom_title {
                    position: absolute;
                    width: 304px;
                    height: 18px;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 18px;
                    color: #101426;
                    letter-spacing: 1px;
                    left: 0px;
                    top: 0px;
                }

                .chuxingcj_bottom_lib {
                    position: absolute;
                    height: 30px;
                    border: 1px solid #3366FF;
                    border-radius: 8px;
                    font-size: 14px;
                    line-height: 30px;
                    color: #3366FF;
                    letter-spacing: 1px;
                    text-align: center;
                }

                .lib_1 {
                    width: 120px;
                    top: 566px - 499px;
                    left: 0px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        width: 90px;
                        height: 0px;
                        border-bottom: 3px solid #3366FF;
                        left: 147px;
                        top: 14px;
                    }

                    &:before {
                        content: ' ';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-width: 6px 0 6px 11px;
                        border-style: solid;
                        border-color: transparent transparent transparent #3366FF;
                        left: 230px;
                        top: 10px;
                    }
                }

                .lib_2 {
                    width: 120px;
                    top: 566px - 499px;
                    left: 542px - 279px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        width: 90px;
                        height: 0px;
                        border-bottom: 3px solid #3366FF;
                        left: 147px;
                        top: 14px;
                    }

                    &:before {
                        content: ' ';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-width: 6px 0 6px 11px;
                        border-style: solid;
                        border-color: transparent transparent transparent #3366FF;
                        left: 230px;
                        top: 10px;
                    }
                }

                .lib_3 {
                    width: 120px;
                    top: 566px - 499px;
                    left: 804px - 279px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        width: 0px;
                        height: 22px;
                        border-left: 3px solid #3366FF;
                        left: 57px;
                        top: 35px;
                    }

                    &:before {
                        content: ' ';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-width: 11px 6px 0 6px;
                        border-style: solid;
                        border-color: #3366FF transparent transparent transparent;
                        left: 52px;
                        top: 50px;
                    }
                }

                .lib_4 {
                    width: 120px;
                    top: 635px - 499px;
                    left: 804px - 279px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        width: 20px;
                        height: 0px;
                        border-bottom: 3px solid #3366FF;
                        left: -27px;
                        top: 13px;
                    }

                    &:before {
                        content: ' ';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-width: 6px 11px 6px 0;
                        border-style: solid;
                        border-color: transparent #3366FF transparent transparent;
                        left: -32px;
                        top: 8px;
                    }
                }

                .lib_5 {
                    width: 120px;
                    top: 635px - 499px;
                    left: 648px - 279px;
                }

                .lib_6 {
                    width: 176px;
                    top: 635px - 499px;
                    left: 435px - 279px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        width: 20px;
                        height: 0px;
                        border-bottom: 3px solid #3366FF;
                        left: -27px;
                        top: 13px;
                    }

                    &:before {
                        content: ' ';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-width: 6px 11px 6px 0;
                        border-style: solid;
                        border-color: transparent #3366FF transparent transparent;
                        left: -32px;
                        top: 8px;
                    }
                }

                .lib_7 {
                    width: 120px;
                    top: 635px - 499px;
                    left: 0px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        width: 0px;
                        height: 22px;
                        border-left: 3px solid #3366FF;
                        left: 57px;
                        top: 35px;
                    }

                    &:before {
                        content: ' ';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-width: 11px 6px 0 6px;
                        border-style: solid;
                        border-color: #3366FF transparent transparent transparent;
                        left: 52px;
                        top: 50px;
                    }
                }

                .lib_8 {
                    width: 120px;
                    top: 702px - 499px;
                    left: 0px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        width: 90px;
                        height: 0px;
                        border-bottom: 3px solid #3366FF;
                        left: 147px;
                        top: 14px;
                    }

                    &:before {
                        content: ' ';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-width: 6px 0 6px 11px;
                        border-style: solid;
                        border-color: transparent transparent transparent #3366FF;
                        left: 230px;
                        top: 10px;
                    }
                }

                .lib_9 {
                    width: 120px;
                    top: 702px - 499px;
                    left: 542px - 279px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        width: 90px;
                        height: 0px;
                        border-bottom: 3px solid #3366FF;
                        left: 147px;
                        top: 14px;
                    }

                    &:before {
                        content: ' ';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-width: 6px 0 6px 11px;
                        border-style: solid;
                        border-color: transparent transparent transparent #3366FF;
                        left: 230px;
                        top: 10px;
                    }
                }

                .lib_10 {
                    width: 120px;
                    top: 702px - 499px;
                    left: 804px - 279px;
                }
            }
        }
    }

    .section_nav {
        width: 100%;
        height: 920px;

        .nav_bar {
            width: 100%;
            height: 60px;
            background: rgba(51, 102, 255, 0.11);

            .nav_bar_container {
                width: $g-width;
                height: 100%;
                margin: 0 auto;
                position: relative;

                .nav_bar_bg {
                    position: absolute;
                    width: 140px;
                    height: 38px;
                    background: #3366FF;
                    border-radius: 19px;
                    top: 12px;
                    left: 318px - 279px;
                    transition: left 0.5s;
                }

                .nav_bar_item {
                    position: absolute;
                    top: 12px;
                    width: 140px;
                    height: 38px;
                    font-size: 16px;
                    line-height: 38px;
                    text-align: center;
                    letter-spacing: 1px;
                    color: #101426;
                    background: transparent;
                    border-radius: 19px;
                    cursor: pointer;
                }

                .item_1 {
                    left: 318px - 279px;
                    color: #ffffff;

                    &:after {
                        content: ' ';
                        position: absolute;
                        pointer-events: none;
                        width: 0;
                        height: 0;
                        border-width: 8px 0 8px 12px;
                        border-style: solid;
                        border-color: transparent transparent transparent #3366FF;
                        left: 180px;
                        top: 12px;
                    }
                }

                .item_2 {
                    left: 549px - 279px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        pointer-events: none;
                        width: 0;
                        height: 0;
                        border-width: 8px 0 8px 12px;
                        border-style: solid;
                        border-color: transparent transparent transparent #3366FF;
                        left: 180px;
                        top: 12px;
                    }
                }

                .item_3 {
                    left: 779px - 279px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        pointer-events: none;
                        width: 0;
                        height: 0;
                        border-width: 8px 0 8px 12px;
                        border-style: solid;
                        border-color: transparent transparent transparent #3366FF;
                        left: 180px;
                        top: 12px;
                    }
                }

                .item_4 {
                    left: 1008px - 279px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        pointer-events: none;
                        width: 0;
                        height: 0;
                        border-width: 8px 0 8px 12px;
                        border-style: solid;
                        border-color: transparent transparent transparent #3366FF;
                        left: 180px;
                        top: 12px;
                    }
                }

                .item_5 {
                    left: 1238px - 279px;

                    &:after {
                        content: ' ';
                        pointer-events: none;
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-width: 8px 0 8px 12px;
                        border-style: solid;
                        border-color: transparent transparent transparent #3366FF;
                        left: 180px;
                        top: 12px;
                    }
                }

                .item_6 {
                    left: 1468px - 279px;
                }
            }
        }

        .nav_container {
            width: 100%;
            height: 861px;
            overflow: hidden;
            background: #242A4D;

            .nav_container_container {
                width: $g-width;
                height: 100%;
                margin: 0 auto;
                position: relative;

                .nav_container_item {
                    position: absolute;
                    left: 100%;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    color: #ffffff;
                    display: none;
                }

                .nav_container_1 {
                    .con1_left_img {
                        position: absolute;
                        width: 264px;
                        height: 552px;
                        border-radius: 55px;
                        box-sizing: content-box;
                        border: 15px solid rgba(25, 29, 59, 1);
                        background: url('@/assets/img/ipss/mbz456.jpg') no-repeat center center;
                        background-size: 100% 100%;
                        top: 100px;
                        left: 364px - 279px;
                    }

                    .con1_left_text {
                        position: absolute;
                        width: 218px;
                        height: 38px;
                        background: #00AEEB;
                        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.64);
                        border-radius: 19px;
                        font-size: 16px;
                        line-height: 38px;
                        color: #FFFFFF;
                        text-align: center;
                        letter-spacing: 1px;
                        top: 704px;
                        left: 402px - 279px;
                    }

                    .con1_right_item_1 {
                        position: absolute;
                        width: 152px;
                        height: 152px;
                        border-radius: 50%;
                        background-color: rgba(25, 29, 59, 1);
                        top: 316px;
                        left: 854px - 279px;

                        div {
                            position: absolute;
                            width: 122px;
                            height: 122px;
                            border-radius: 50%;
                            background: url('@/assets/img/ipss/22.png') no-repeat center center;
                            background-size: 100% 100%;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 122px;
                            text-align: center;
                            color: #FFFFFF;
                            letter-spacing: 1px;
                            top: 15px;
                            left: 15px;
                        }
                    }

                    .con1_right_item_2 {
                        position: absolute;
                        width: 152px;
                        height: 152px;
                        border-radius: 50%;
                        background-color: rgba(25, 29, 59, 1);
                        top: 135px;
                        left: 1012px - 279px;

                        div {
                            position: absolute;
                            width: 122px;
                            height: 122px;
                            border-radius: 50%;
                            background: url('@/assets/img/ipss/20.png') no-repeat center center;
                            background-size: 100% 100%;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 122px;
                            text-align: center;
                            color: #FFFFFF;
                            letter-spacing: 1px;
                            top: 15px;
                            left: 15px;
                        }
                    }

                    .con1_right_item_3 {
                        position: absolute;
                        width: 152px;
                        height: 152px;
                        border-radius: 50%;
                        background-color: rgba(25, 29, 59, 1);
                        top: 135px;
                        left: 1312px - 279px;

                        div {
                            position: absolute;
                            width: 122px;
                            height: 122px;
                            border-radius: 50%;
                            background: url('@/assets/img/ipss/2.png') no-repeat center center;
                            background-size: 100% 100%;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 122px;
                            text-align: center;
                            color: #FFFFFF;
                            letter-spacing: 1px;
                            top: 15px;
                            left: 15px;
                        }
                    }

                    .con1_right_item_4 {
                        position: absolute;
                        width: 152px;
                        height: 152px;
                        border-radius: 50%;
                        background-color: rgba(25, 29, 59, 1);
                        top: 316px;
                        left: 1450px - 279px;

                        div {
                            position: absolute;
                            width: 122px;
                            height: 122px;
                            border-radius: 50%;
                            background: url('@/assets/img/ipss/3.png') no-repeat center center;
                            background-size: 100% 100%;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 122px;
                            text-align: center;
                            color: #FFFFFF;
                            letter-spacing: 1px;
                            top: 15px;
                            left: 15px;
                        }
                    }

                    .con1_right_text {
                        position: absolute;
                        width: 280px;
                        height: 86px;
                        background: rgba(25, 29, 59, 0.4);
                        box-shadow: 10px 10px 10px rgba(12, 16, 40, 0.3) inset;
                        border-radius: 43px;
                        font-size: 32px;
                        font-weight: bold;
                        line-height: 86px;
                        color: #FFFFFF;
                        letter-spacing: 1px;
                        left: 1092px - 279px;
                        top: 349px;
                        text-indent: 90px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 9px;
                            height: 9px;
                            background: #0ABFFF;
                            box-shadow: 0px 0px 8px #00AEEB;
                            border-radius: 50%;
                            left: 62px;
                            top: 38px;
                        }
                    }

                    .con1_right_btn {
                        position: absolute;
                        width: 142px;
                        height: 142px;
                        border-radius: 50%;
                        background-color: rgba(25, 29, 59, 1);
                        height: 142px;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 142px;
                        text-align: center;
                        color: #FFFFFF;
                        letter-spacing: 1px;
                        top: 570px;
                        left: 1165px - 279px;

                        &:after {
                            content: ' ';
                            position: absolute;
                            width: 82px;
                            height: 5px;
                            background: #00AEEB;
                            border-radius: 4px;
                            box-shadow: 0px 0px 8px #00AEEB;
                            left: 32px;
                            top: 161px;
                        }
                    }
                }

                .nav_container_2 {
                    .con2_img {
                        position: absolute;
                        width: 662px;
                        height: 395px;
                        border-radius: 30px;
                        background-color: rgba(25, 29, 59, 1);
                        left: 290px - 279px;
                        top: 211px;

                        div {
                            position: absolute;
                            width: 642px;
                            height: 375px;
                            background: url('@/assets/img/ipss/21.png') no-repeat center center;
                            background-size: 100% 100%;
                            left: 10px;
                            top: 10px;
                        }
                    }

                    .con2_text1 {
                        position: absolute;
                        width: 509px;
                        height: 62px;
                        font-size: 20px;
                        line-height: 34px;
                        color: #FFFFFF;
                        letter-spacing: 1px;
                        left: 1064px - 279px;
                        top: 332px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 6px;
                            height: 6px;
                            background: #FFFFFF;
                            border-radius: 50%;
                            border: 6px solid #3366FF;
                            left: -22px;
                            top: 8px;
                        }
                    }

                    .con2_text2 {
                        position: absolute;
                        width: 509px;
                        height: 62px;
                        font-size: 20px;
                        line-height: 34px;
                        color: #FFFFFF;
                        letter-spacing: 1px;
                        left: 1064px - 279px;
                        top: 430px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 6px;
                            height: 6px;
                            background: #FFFFFF;
                            border-radius: 50%;
                            border: 6px solid #3366FF;
                            left: -22px;
                            top: 8px;
                        }
                    }
                }

                .nav_container_3 {
                    .con3_left {
                        position: absolute;
                        width: 356px;
                        height: 697px;
                        background-color: rgba(25, 29, 59, 1);
                        left: 460px - 279px;
                        top: 83px;

                        div {
                            position: absolute;
                            width: 346px;
                            height: 687px;
                            background: url('@/assets/img/ipss/33.png') no-repeat center center;
                            background-size: 100% 100%;
                            left: 5px;
                            top: 5px;
                        }
                    }

                    .con3_text_1 {
                        position: absolute;
                        width: 156px;
                        height: 41px;
                        background: #FFFFFF;
                        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                        border-radius: 8px;
                        font-size: 14px;
                        line-height: 41px;
                        color: #101426;
                        letter-spacing: 1px;
                        text-align: center;
                        left: 279px - 279px;
                        top: 341px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 86px;
                            height: 0px;
                            border-bottom: 2px solid #3366FF;
                            left: 156px;
                            top: 19px;
                        }

                        &:after {
                            content: ' ';
                            position: absolute;
                            width: 7px;
                            height: 7px;
                            background: #3366FF;
                            border-radius: 50%;
                            left: 240px;
                            top: 17px;
                        }
                    }

                    .con3_text_2 {
                        position: absolute;
                        width: 156px;
                        height: 41px;
                        background: #FFFFFF;
                        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                        border-radius: 8px;
                        font-size: 14px;
                        line-height: 41px;
                        color: #101426;
                        letter-spacing: 1px;
                        text-align: center;
                        left: 279px - 279px;
                        top: 560px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 86px;
                            height: 0px;
                            border-bottom: 2px solid #3366FF;
                            left: 156px;
                            top: 19px;
                        }

                        &:after {
                            content: ' ';
                            position: absolute;
                            width: 7px;
                            height: 7px;
                            background: #3366FF;
                            border-radius: 50%;
                            left: 240px;
                            top: 17px;
                        }
                    }

                    .con3_text_3 {
                        position: absolute;
                        width: 156px;
                        height: 55px;
                        background: #FFFFFF;
                        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                        border-radius: 8px;
                        font-size: 14px;
                        line-height: 22px;
                        color: #101426;
                        letter-spacing: 1px;
                        text-align: center;
                        padding-top: 7px;
                        left: 828px - 279px;
                        top: 210px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 93px;
                            height: 0px;
                            border-bottom: 2px solid #3366FF;
                            left: -93px;
                            top: 27px;
                        }

                        &:after {
                            content: ' ';
                            position: absolute;
                            width: 7px;
                            height: 7px;
                            background: #3366FF;
                            border-radius: 50%;
                            left: -93px;
                            top: 25px;
                        }
                    }

                    .con3_text_4 {
                        position: absolute;
                        width: 156px;
                        height: 55px;
                        background: #FFFFFF;
                        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                        border-radius: 8px;
                        font-size: 14px;
                        line-height: 22px;
                        color: #101426;
                        letter-spacing: 1px;
                        text-align: center;
                        padding-top: 7px;
                        left: 828px - 279px;
                        top: 421px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 93px;
                            height: 0px;
                            border-bottom: 2px solid #3366FF;
                            left: -93px;
                            top: 27px;
                        }

                        &:after {
                            content: ' ';
                            position: absolute;
                            width: 7px;
                            height: 7px;
                            background: #3366FF;
                            border-radius: 50%;
                            left: -93px;
                            top: 25px;
                        }
                    }

                    .con3_text_5 {
                        position: absolute;
                        width: 156px;
                        height: 55px;
                        background: #FFFFFF;
                        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                        border-radius: 8px;
                        font-size: 14px;
                        line-height: 22px;
                        color: #101426;
                        letter-spacing: 1px;
                        text-align: center;
                        padding-top: 7px;
                        left: 828px - 279px;
                        top: 624px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 163px;
                            height: 0px;
                            border-bottom: 2px solid #3366FF;
                            left: -163px;
                            top: 27px;
                        }

                        &:after {
                            content: ' ';
                            position: absolute;
                            width: 7px;
                            height: 7px;
                            background: #3366FF;
                            border-radius: 50%;
                            left: -163px;
                            top: 25px;
                        }
                    }

                    .con3_right {
                        position: absolute;
                        width: 595px;
                        height: 318px;
                        background: url('@/assets/img/ipss/31.png') no-repeat center center;
                        background-size: 100% 100%;
                        top: 154px;
                        left: 1058px - 279px;
                    }

                    .con3_exp_1 {
                        position: absolute;
                        width: 509px;
                        height: 88px;
                        font-size: 20px;
                        line-height: 34px;
                        color: #FFFFFF;
                        letter-spacing: 1px;
                        left: 1113px - 279px;
                        top: 536px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 6px;
                            height: 6px;
                            background: #FFFFFF;
                            border-radius: 50%;
                            border: 6px solid #3366FF;
                            left: -22px;
                            top: 8px;
                        }
                    }

                    .con3_exp_2 {
                        position: absolute;
                        width: 509px;
                        height: 68px;
                        font-size: 20px;
                        line-height: 34px;
                        color: #FFFFFF;
                        letter-spacing: 1px;
                        left: 1113px - 279px;
                        top: 664px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 6px;
                            height: 6px;
                            background: #FFFFFF;
                            border-radius: 50%;
                            border: 6px solid #3366FF;
                            left: -22px;
                            top: 8px;
                        }
                    }
                }

                .nav_container_4 {
                    .con4_left {
                        position: absolute;
                        width: 592px;
                        height: 341px;
                        background: url('@/assets/img/ipss/41.png') no-repeat center center;
                        background-size: 100% 100%;
                        top: 152px;
                        left: 279px - 279px;
                    }

                    .con4_top {
                        position: absolute;
                        width: 770px;
                        height: 163px;
                        background: url('@/assets/img/ipss/42.png') no-repeat center center;
                        background-size: 100% 100%;
                        top: 152px;
                        left: 883px - 279px;
                    }

                    .con4_bottom {
                        position: absolute;
                        width: 770px;
                        height: 163px;
                        background: url('@/assets/img/ipss/43.png') no-repeat center center;
                        background-size: 100% 100%;
                        top: 334px;
                        left: 883px - 279px;
                    }

                    .con4_exp_1 {
                        position: absolute;
                        width: 599px;
                        height: 61px;
                        font-size: 20px;
                        line-height: 34px;
                        color: #FFFFFF;
                        letter-spacing: 1px;
                        left: 916px - 279px;
                        top: 551px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 6px;
                            height: 6px;
                            background: #FFFFFF;
                            border-radius: 50%;
                            border: 6px solid #3366FF;
                            left: -22px;
                            top: 8px;
                        }
                    }

                    .con4_exp_2 {
                        position: absolute;
                        width: 590px;
                        height: 59px;
                        font-size: 20px;
                        line-height: 34px;
                        color: #FFFFFF;
                        letter-spacing: 1px;
                        left: 916px - 279px;
                        top: 643px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 6px;
                            height: 6px;
                            background: #FFFFFF;
                            border-radius: 50%;
                            border: 6px solid #3366FF;
                            left: -22px;
                            top: 8px;
                        }
                    }

                    .con4_exp_3 {
                        position: absolute;
                        width: 599px;
                        height: 61px;
                        font-size: 20px;
                        line-height: 34px;
                        color: #FFFFFF;
                        letter-spacing: 1px;
                        left: 916px - 279px;
                        top: 733px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 6px;
                            height: 6px;
                            background: #FFFFFF;
                            border-radius: 50%;
                            border: 6px solid #3366FF;
                            left: -22px;
                            top: 8px;
                        }
                    }
                }

                .nav_container_5 {
                    .con5_top {
                        position: absolute;
                        width: 1309px;
                        height: 167px;
                        background: url('@/assets/img/ipss/51.png') no-repeat center center;
                        background-size: 100% 100%;
                        top: 130px;
                        left: 306px - 279px;
                    }

                    .con5_left {
                        position: absolute;
                        width: 713px;
                        height: 409px;
                        background: url('@/assets/img/ipss/52.png') no-repeat center center;
                        background-size: 100% 100%;
                        top: 353px;
                        left: 306px - 279px;
                    }

                    .con5_exp_1 {
                        position: absolute;
                        width: 472px;
                        height: 46px;
                        font-size: 20px;
                        line-height: 34px;
                        color: #FFFFFF;
                        letter-spacing: 1px;
                        left: 1145px - 279px;
                        top: 530px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 6px;
                            height: 6px;
                            background: #FFFFFF;
                            border-radius: 50%;
                            border: 6px solid #3366FF;
                            left: -22px;
                            top: 8px;
                        }
                    }
                }

                .nav_container_6 {
                    .con6_top {
                        position: absolute;
                        width: 1309px;
                        height: 167px;
                        background: url('@/assets/img/ipss/61.png') no-repeat center center;
                        background-size: 100% 100%;
                        top: 130px;
                        left: 306px - 279px;
                    }

                    .con6_left {
                        position: absolute;
                        width: 713px;
                        height: 409px;
                        background: url('@/assets/img/ipss/62.png') no-repeat center center;
                        background-size: 100% 100%;
                        top: 353px;
                        left: 306px - 279px;
                    }

                    .con6_exp_1 {
                        position: absolute;
                        width: 457px;
                        height: 77px;
                        width: 472px;
                        height: 46px;
                        font-size: 20px;
                        line-height: 34px;
                        color: #FFFFFF;
                        letter-spacing: 1px;
                        left: 1145px - 279px;
                        top: 530px;

                        &:before {
                            content: ' ';
                            position: absolute;
                            width: 6px;
                            height: 6px;
                            background: #FFFFFF;
                            border-radius: 50%;
                            border: 6px solid #3366FF;
                            left: -22px;
                            top: 8px;
                        }
                    }
                }
            }
        }
    }
}
