<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- 加载header组件 -->
    <%= require('raw-loader!../../raw/header.html').default %>
    <main id="ts_main_index">
      <section class="tianshu_main">
        <h2 class="sr-animate">使命</h2>
        <h5 class="sr-animate">Mission</h5>
        <h4 class="sr-animate">承载智慧应用每一个，降低运营成本每一分，精彩乘客出行每一<br />秒，提升用户体验每一天</h4>
      </section>
      <section class="tianshupt">
        <div class="top"></div>
        <div class="left_circle"></div>
        <div class="right_circle"></div>
        <div class="center_circle"></div>
        <div class="bottom_circle"></div>
        <div class="title_circle frag1"></div>
        <div class="title_circle frag2"></div>
        <div class="title_circle frag3"></div>
        <div class="title_circle frag4"></div>
        <div class="title_circle frag5"></div>
        <div class="title_circle frag6"></div>
        <div class="title">天枢</div>
        <i class="icon_bg icon_1"></i>
        <i class="icon_bg icon_2"></i>
        <i class="icon_bg icon_3"></i>
        <i class="icon_bg icon_4"></i>
        <i class="icon_bg icon_5"></i>
        <i class="icon_bg icon_6"></i>
        <i class="icon_bg icon_7"></i>
        <i class="icon_bg icon_8"></i>
        <section class="text left_top sr-animate">
          数据:统一采集
          <p>数据统一治理，去除无效信息或敏感信息</p>
          <p>保留特征数据，为数据利用打下基础</p>
        </section>
        <section class="text right_top sr-animate">
          软件:前端至简
          <p>前端仅作结果显示</p>
          <p>提升交互体验，提高界面响应</p>
        </section>
        <section class="text left_bottom sr-animate">
          数据:互联互通
          <p>通存通取，不分专业，不设壁垒</p>
          <p>开放接口，采用标准化、轻量级的高速、大吞吐量API</p>
        </section>
        <section class="text right_bottom sr-animate">
          软件:后端容器
          <p>算法沉淀，提炼去重，提升整体效率</p>
          <p>开放共享，赋能第三方开发</p>
        </section>
        <section class="text center_bottom sr-animate">
          硬件:弹性伸缩
          <p>按需配置，扩展方便</p>
          <p>分布式部署，兼容既有设备改造</p>
        </section>
      </section>
      <section class="shujuzt">
        <div class="shujuzt_container sr-animate">
          <div class="shujuzt_pic"></div>
          <div class="shujuzt_contain">
            <h3>数据中台</h3>
            <h5>
              基于大数据技术，集成主流大数据框架，结合轨道交通业务特点和数据数据特征，构建符合轨道交通业务的全业务海量异构数据治理平台。图形化数据收集、治理、使用工具，支持智能应用开发的全面数据需求。
            </h5>
            <a href="./shujuzt.html">查看详情</a>
          </div>
        </div>
      </section>
      <section class="suanfazt">
        <div class="suanfazt_container sr-animate">
          <div class="suanfazt_left">
            <h3>算法中台</h3>
            <h5>基于容器和微服务技术，集成主流算法框架，结合轨道交通业务特点和数据数据特征，打造符合轨道交通业务需求的全流程、图形化算法开发工具，加速智能应用开发和升级速度。</h5>
            <a href="./suanfazt.html">查看详情</a>
          </div>
          <div class="suanfazt_right">
            <h3>AI中台</h3>
            <h5 class="exp1">数据标注</h5>
            <h5 class="exp2">特征工程</h5>
            <h5 class="exp3">模型训练</h5>
            <h5 class="exp4">模型部署</h5>
            <h5 class="exp5">性能监控</h5>
          </div>
        </div>
      </section>
    </main>
    <!-- 加载footer组件 -->
    <%= require('raw-loader!../../raw/footer.html').default %>
  </body>
</html>
