/* window dpi 缩放适配 */
@media all and (min--moz-device-pixel-ratio: 1) and (max--moz-device-pixel-ratio: 1.05), (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 1.05), (min-resolution: 1dppx) and (max-resolution: 1.05dppx) {
    html {
        font-size: 100PX !important;
    }
}

@media all and (min--moz-device-pixel-ratio: 1.06) and (max--moz-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.06) and (-webkit-max-device-pixel-ratio: 1.1), (min-resolution: 1.06dppx) and (max-resolution: 1.1dppx) {
    html {
        font-size: 91PX !important;
    }
}

@media all and (min--moz-device-pixel-ratio: 1.11) and (max--moz-device-pixel-ratio: 1.25), (-webkit-min-device-pixel-ratio: 1.11) and (-webkit-max-device-pixel-ratio: 1.25), (min-resolution: 1.11dppx) and (max-resolution: 1.25dppx) {
    html {
        font-size: 80PX !important;
    }
}