/* window dpi 缩放适配 */
@media all and (max--moz-device-pixel-ratio: 0.9), (-webkit-max-device-pixel-ratio: 0.99), (max-resolution: 0.9dppx) {
    html {
        font-size: 55PX;
    }
}

@media all and (min--moz-device-pixel-ratio: 1) and (max--moz-device-pixel-ratio: 1.09), (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 1.09), (min-resolution: 1dppx) and (max-resolution: 1.09dppx) {
    html {
        font-size: 50PX;
    }
}

@media all and (min--moz-device-pixel-ratio: 1.1) and (max--moz-device-pixel-ratio: 1.24), (-webkit-min-device-pixel-ratio: 1.1) and (-webkit-max-device-pixel-ratio: 1.24), (min-resolution: 1.1dppx) and (max-resolution: 1.24dppx) {
    html {
        font-size: 45PX;
    }
}

@media all and (min--moz-device-pixel-ratio: 1.25) and (max--moz-device-pixel-ratio: 1.49), (-webkit-min-device-pixel-ratio: 1.25) and (-webkit-max-device-pixel-ratio: 1.49), (min-resolution: 1.25dppx) and (max-resolution: 1.49dppx) {
    html {
        font-size: 40PX;
    }
}

@media all and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.74), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.74), (min-resolution: 1.5dppx) and (max-resolution: 1.74dppx) {
    html {
        font-size: 33PX;
    }
}

@media all and (min--moz-device-pixel-ratio: 1.75) and (max--moz-device-pixel-ratio: 1.99), (-webkit-min-device-pixel-ratio: 1.75) and (-webkit-max-device-pixel-ratio: 1.99), (min-resolution: 1.75dppx) and (max-resolution: 1.99dppx) {
    html {
        font-size: 29PX;
    }
}

@media all and (min--moz-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    html {
        font-size: 25PX;
    }
}