#ts_footer {
    height: 319px;
    width: 100%;
    background-color: #2E3A59;
    color: #ffffff;
    position: relative;

    .footer_logo {
        position: absolute;
        left: 279px;
        top: 80px;
        height: 38px;
        font-size: 32px;
    }

    .footer_platform {
        position: absolute;
        left: 534px;
        top: 84px;

        h3 {
            width: 100px;
            height: 24px;
            font-size: 24px;
            cursor: pointer;
            margin-bottom: 49px;
        }

        h5 {
            height: 14px;
            font-size: 14px;
            cursor: pointer;
            margin-bottom: 21px;
        }
    }

    .footer_about {
        position: absolute;
        left: 864px;
        top: 84px;

        h3 {
            width: 100px;
            height: 24px;
            font-size: 24px;
            cursor: pointer;
            margin-bottom: 49px;
        }

        h5 {
            height: 14px;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .footer_connect {
        position: absolute;
        line-height: 14px;
        top: 95px;
        left: 1279px;
        font-size: 14px;

        .footer_connect_co {
            margin-top: 118px;

            .exp_1 {
                display: inline-block;
                padding-right: 16px;
                height: 14px;
                position: relative;

                &:after {
                    content: ' ';
                    position: absolute;
                    background-color: #fff;
                    width: 2px;
                    height: 14px;
                    top: 0px;
                    right: 7px;
                }
            }
        }
    }
}