#ts_footer {
    height: 319px;
    width: 100%;
    background-color: #2E3A59;
    color: #ffffff;

    .ts_footer_container {
        width: 1350px;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;

        .footer_logo {
            margin-top: 80px;
            height: 38px;
            font-size: 32px;
            float: left;
        }

        .footer_platform {
            margin-top: 84px;
            margin-left: 196px;
            float: left;

            h3 {
                width: 100px;
                height: 24px;
                font-size: 24px;
                cursor: pointer;
                margin-bottom: 49px;
            }

            h5 {
                height: 14px;
                font-size: 14px;
                cursor: pointer;
                margin-bottom: 21px;
            }
        }

        .footer_about {
            margin-top: 84px;
            margin-left: 216px;
            float: left;

            h3 {
                width: 100px;
                height: 24px;
                font-size: 24px;
                cursor: pointer;
                margin-bottom: 49px;
            }

            h5 {
                height: 14px;
                font-size: 14px;
                cursor: pointer;
            }
        }

        .footer_connect {
            margin-top: 95px;
            margin-left: 319px;
            float: left;
            line-height: 14px;
            font-size: 14px;

            .footer_connect_co {
                margin-top: 118px;

                .exp_1 {
                    display: inline-block;
                    padding-right: 16px;
                    height: 14px;
                    position: relative;

                    &:after {
                        content: ' ';
                        position: absolute;
                        background-color: #fff;
                        width: 2px;
                        height: 14px;
                        top: 0px;
                        right: 7px;
                    }
                }
            }
        }
    }
}