#ts_header {
    width: 100%;
    height: 60px;
    background: transparent;
    position: absolute;
    top: 0px;
    color: #ffffff;
    transition: background-color 0.3s;
    border-bottom: 1PX solid;
    border-bottom-color: transparent;
    z-index: 10;

    .logo {
        position: absolute;
        font-size: 32px;
        height: 60px;
        line-height: 60px;
        left: 278px;

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .nav_item_tszj {
        position: absolute;
        height: 60px;
        line-height: 60px;
        font-size: 14px;
        width: 200px;
        left: 1100px;

        .dropdown_btn {
            cursor: pointer;
            box-sizing: border-box;
            width: 80px;
            margin-left: 60px;
            height: 60px;
            text-align: center;
            border-bottom: 3PX solid;
            border-bottom-color: transparent;
        }

        &:hover .dropdown_btn {
            border-bottom-color: #3366FF;
        }

        .dropdown_layer {
            position: absolute;
            line-height: 47px;
            border-radius: 10px;
            width: 200px;
            z-index: 10;
            background-color: #f4f4f4;
            overflow: hidden;
            left: 0px;
            top: 60px;
            display: none;
            transition: height 0.3s;
            height: 0px;

            .dropdown_item {
                text-align: center;
                cursor: pointer;
                width: 100%;
                height: 47px;
                line-height: 47px;
                color: #242424;
                background-color: #f4f4f4;

                a {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                }

                &:hover {
                    background-color: #d4d1d1;
                }
            }
        }
    }

    .nav_item_jjfa {
        position: absolute;
        width: 200px;
        text-align: center;
        height: 60px;
        font-size: 14px;
        line-height: 60px;
        left: 1285px;

        .dropdown_btn {
            cursor: pointer;
            box-sizing: border-box;
            width: 80px;
            margin-left: 60px;
            height: 60px;
            text-align: center;
            border-bottom: 3PX solid;
            border-bottom-color: transparent;
        }

        &:hover .dropdown_btn {
            border-bottom-color: #3366FF;
        }

        .dropdown_layer {
            position: absolute;
            line-height: 47px;
            border-radius: 10px;
            width: 340px;
            z-index: 10;
            background-color: #f4f4f4;
            overflow: hidden;
            left: 0px;
            top: 60px;
            display: none;
            transition: height 0.3s;
            text-align: left;
            height: 0px;

            .dropdown_item {
                text-indent: 20px;
                cursor: pointer;
                width: 100%;
                height: 47px;
                line-height: 47px;
                color: #242424;
                background-color: #f4f4f4;

                a {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                }

                &:hover {
                    background-color: #d4d1d1;
                }
            }
        }
    }

    .nav_item_kkzzx {
        position: absolute;
        height: 60px;
        line-height: 60px;
        font-size: 14px;
        left: 1544px;
    }
}
