title_after() {
    content: ' ';
    height: 4px;
    width: 90px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 53px;
    background: #3366FF;
}

suanfazt_section_wfw_content_before(w) {
    content: ' ';
    position: absolute;
    left: -1px;
    transform: translate(-100%, -50%);
    top: 50%;
    width: w;
    height: 1px;
    background-color: #999999;
}

suanfazt_section_wfw_content_after(w) {
    content: ' ';
    position: absolute;
    right: -1px;
    transform: translate(100%, -50%);
    top: 50%;
    width: w;
    height: 1px;
    background-color: #999999;
}

content_item_list_i() {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    border-radius: 19px;
}

content_item_list_p() {
    height: 20px;
    margin-top: 20px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #1d1d1d;
    letter-spacing: 1px;
    text-align: center;
}