<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- 加载header组件 -->
    <%= require('raw-loader!../../raw/header.html').default %>
    <main id="ts_main_zhinengyw">
      <section class="section_zhinengyw">
        <h3 class="title sr-animate">智能运维</h3>
        <h3 class="subtitle sr-animate">SMART OPERATIONS</h3>
        <h5 class="exp sr-animate">构建以现场级、线路级、线网级为核心的智能运维体系</h5>
      </section>
      <section class="section_pingtainengli">
        <h3 class="pingtainengli-title sr-animate">平台能力</h3>
        <h5 class="pingtainengli-subtitle sr-animate">各线路、各专业、多功能平台</h5>
        <div class="pingtainengli-item-list sr-animate">
          <div class="pingtainengli-item">
            <div class="pingtainengli-item-img img-1"></div>
            <div class="pingtainengli-item-title">线路级</div>
            <div class="pingtainengli-item-chip">
              <span class="chip">精准管理</span>
              <span class="chip">智能分析</span>
              <span class="chip">实时监测</span>
              <span class="chip">专业评估</span>
            </div>
          </div>
          <div class="pingtainengli-item">
            <div class="pingtainengli-item-img img-2"></div>
            <div class="pingtainengli-item-title">线网级</div>
            <div class="pingtainengli-item-chip">
              <span class="chip">统一管理</span>
              <span class="chip">状态监督</span>
              <span class="chip">应急处理</span>
              <span class="chip">状态监督</span>
            </div>
          </div>
          <div class="pingtainengli-item">
            <div class="pingtainengli-item-img img-3"></div>
            <div class="pingtainengli-item-title">现场级</div>
            <div class="pingtainengli-item-chip">
              <span class="chip">简化流程</span>
              <span class="chip">无人巡检</span>
              <span class="chip">自动推送</span>
              <span class="chip">故障预测</span>
            </div>
          </div>
        </div>
      </section>
      <section class="section_chanpingnengli">
        <h3 class="chanpingnengli-title sr-animate">产品功能</h3>
        <div class="chanpingnengli-item-list sr-animate">
          <div class="chanpingnengli-item">
            <div class="chanpingnengli-item-img img-1"></div>
            <div class="chanpingnengli-item-title">无人巡检</div>
            <div class="chanpingnengli-item-chip">通过无人机房智能巡检和健康管理系统，在巡检环节及故障诊断环节提供支持，可替代人工巡检。</div>
          </div>
          <div class="chanpingnengli-item">
            <div class="chanpingnengli-item-img img-2"></div>
            <div class="chanpingnengli-item-title">故障预警</div>
            <div class="chanpingnengli-item-chip">通过专家系统、健康管理系统、寿命预测系统，在技术支持与备品管理等环节提供支持。</div>
          </div>
          <div class="chanpingnengli-item">
            <div class="chanpingnengli-item-img img-3"></div>
            <div class="chanpingnengli-item-title">辅助维修</div>
            <div class="chanpingnengli-item-chip">通过健康管理系统，在设备检修及作业标准化等环节提供支持，解决过度维修或维修不到位等问题。</div>
          </div>
          <div class="chanpingnengli-item">
            <div class="chanpingnengli-item-img img-4"></div>
            <div class="chanpingnengli-item-title">智能分析</div>
            <div class="chanpingnengli-item-chip">通过专家系统和健康管理系统，在故障诊断、故障处理及备料等环节提供支撑，解决信息汇报不及时等问题。</div>
          </div>
          <div class="chanpingnengli-item">
            <div class="chanpingnengli-item-img img-5"></div>
            <div class="chanpingnengli-item-title">线网级监视中心</div>
            <div class="chanpingnengli-item-chip">通过监视中心大屏、智能驾驶舱应用，监测多专业多系统数据，解决各线路信息冗余分散问题，简化流程。</div>
          </div>
        </div>
      </section>
      <section class="section_chanpingtixi">
        <h3 class="chanpingtixi-title sr-animate">产品体系</h3>
        <h5 class="chanpingtixi-subtitle sr-animate">各专业互相独立、又可联动</h5>
        <div class="chanpingtixi-item-list sr-animate">
          <div class="chanpingtixi-item">
            <div class="chanpingtixi-item-img img-1"></div>
            <div class="chanpingtixi-item-title">车辆专业</div>
          </div>
          <div class="chanpingtixi-item">
            <div class="chanpingtixi-item-img img-2"></div>
            <div class="chanpingtixi-item-title">信号专业</div>
          </div>
          <div class="chanpingtixi-item">
            <div class="chanpingtixi-item-img img-3"></div>
            <div class="chanpingtixi-item-title">通信专业</div>
          </div>
          <div class="chanpingtixi-item">
            <div class="chanpingtixi-item-img img-4"></div>
            <div class="chanpingtixi-item-title">其他专业</div>
          </div>
        </div>
      </section>
    </main>
    <!-- 加载footer组件 -->
    <%= require('raw-loader!../../raw/footer.html').default %>
  </body>
</html>
