<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- 加载header组件 -->
    <%= require('raw-loader!../../raw/header.html').default %>
    <main id="ts_main_zhinengyw">
      <section class="section_zhinengyw">
        <div class="sr-animate-container sr-animate">
          <h3 class="title">智能运维</h3>
          <h5 class="exp">构建以现场级、线路级、线网级为核心的智能运维体系</h5>
        </div>
      </section>
      <section class="section_liandong">
        <div class="sr-animate-container sr-animate">
          <div class="top">
            <div class="top_left">
              <div class="btn">线路级</div>
              <div class="exp">线路各专业统一精准管理</div>
            </div>
            <div class="top_right">
              <div class="btn">线网级</div>
              <div class="exp">各线路各专业综合管理</div>
            </div>
          </div>
          <div class="center">
            <p><i></i>政府</p>
            <p><i></i>驾驶舱</p>
            <p><i></i>公众</p>
            <p><i></i>信号</p>
            <p><i></i>车辆</p>
            <p><i></i>线路</p>
          </div>
          <div class="bottom">
            <div class="block_top"></div>
            <div class="bottom_doc">现场级</div>
            <div class="block_1"></div>
            <div class="block_2"></div>
            <p>各专业即可互相独立又能进行联动</p>
          </div>
        </div>
      </section>

      <section class="section_jianhua">
        <div class="item_list">
          <div class="item top sr-animate">
            <h4 class="top_left">现场级</h4>
            <div class="top_center_bg"></div>
            <div class="top_center"></div>
            <div class="right_container">
              <div class="right">
                <p>简化运维人员分析过程</p>
                <p>设备状态实时进准检测</p>
                <p>无人巡检代替人工巡检</p>
                <p>自动分析故障根因并提示</p>
                <p>运维资源自动推送</p>
                <p>设备故障预测及寿命预测</p>
              </div>
              <div class="right_shadow">
                <p class="shadow_detail_1">人员赋能：智能工具、无人机房、维修管理系统</p>
                <p class="shadow_detail_2">设备赋能：智能感知、故障预测及健康管理系统</p>
              </div>
            </div>
          </div>
          <div class="item center sr-animate">
            <h4 class="center_left">线路级</h4>
            <div class="center_center_bg"></div>
            <div class="center_center"></div>
            <div class="right_container">
              <div class="right">
                <p>设备的状态监控</p>
                <p>维护维修过程自动监控</p>
                <p>技术分析管理</p>
                <p>监督、跟踪分析安全隐患</p>
                <p>备件需求自动分析</p>
                <p>图纸、手册等资源管理</p>
                <p>变更影响分析</p>
                <p>人员能力评估</p>
              </div>
              <div class="right_shadow">
                <p class="shadow_detail_1">自动监督跟踪隐患和完善隐患库</p>
                <p class="shadow_detail_2">根据设备说明预测、故障率、采购周期评估备件需求</p>
                <p class="shadow_detail_3">图纸、手册等资源依据维修应急情况自动精准推送</p>
                <p class="shadow_detail_4">变更与安全、技术、流程管理联动，给出变更建议 </p>
                <p class="shadow_detail_5">与维修维护管理联动，对绩效较低的人员自动生成培训计划</p>
              </div>
            </div>
          </div>
          <div class="item bottom sr-animate">
            <h4 class="bottom_left">线网级</h4>
            <div class="bottom_center_bg"></div>
            <div class="bottom_center"></div>
            <div class="right_container">
              <div class="right">
                <p>多线路多专业的关键设备状态监督</p>
                <p>统一的应急管理和工单管理中心</p>
                <p>共性问题的管理</p>
                <p>统一对外信息报送接口</p>
              </div>
              <div class="right_shadow">
                <p class="shadow_detail_1">影响运营的风险和关键设备的健康监督</p>
                <p class="shadow_detail_2">应急物资、人员、预案自动调配和状态显示</p>
                <p class="shadow_detail_3">状态修、预测修工单的自动精准的下发到各专业维护人员</p>
                <p class="shadow_detail_4">自动生成影响运营的时长、故障原因等报告推送公众和政府部分 </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- 加载footer组件 -->
    <%= require('raw-loader!../../raw/footer.html').default %>
  </body>
</html>
