<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- 加载header组件 -->
    <%= require('raw-loader!../../raw/header.html').default %>
    <main id="ts_main_ipss">
      <!-- ipss -->
      <section class="section_ipss">
        <h3 class="section_ipss_title sr-animate">IPSS</h3>
        <h5 class="section_ipss_subtitle sr-animate">智能运营管理系统解决方案</h5>
      </section>
      <!-- 出行场景 -->
      <section class="section_chuxingcj">
        <div class="section_chuxingcj_container">
          <div class="chuxingcj_pic sr-animate"></div>
          <div class="chuxingcj_lib lib_1">1、计划出行</div>
          <div class="chuxingcj_lib lib_2">2、进入车站</div>
          <div class="chuxingcj_lib lib_3">3、站内走行</div>
          <div class="chuxingcj_lib lib_4">4、乘降列车</div>
          <div class="chuxingcj_lib lib_5">5、车站换乘</div>
          <div class="chuxingcj_lib lib_6">6、到达出站</div>
          <div class="chuxingcj_top sr-animate">
            <div class="bg_ipss"></div>
            <div class="c_ipss">C-IPSS</div>
            <div class="s_ipss">S-IPSS</div>
            <div class="t_ipss">T-IPSS</div>
            <div class="m_ipss">M-IPSS</div>
          </div>
          <div class="chuxingcj_bottom sr-animate">
            <h4 class="chuxingcj_bottom_title">按照乘客的出行场景，可归纳分为：</h4>
            <div class="chuxingcj_bottom_lib lib_1">计划出行</div>
            <div class="chuxingcj_bottom_lib lib_2">到进站口</div>
            <div class="chuxingcj_bottom_lib lib_3">到站厅层</div>
            <div class="chuxingcj_bottom_lib lib_4">购票</div>
            <div class="chuxingcj_bottom_lib lib_5">检票进闸</div>
            <div class="chuxingcj_bottom_lib lib_6">通过楼梯或电梯到站台</div>
            <div class="chuxingcj_bottom_lib lib_7">乘车</div>
            <div class="chuxingcj_bottom_lib lib_8">到站厅</div>
            <div class="chuxingcj_bottom_lib lib_9">出闸</div>
            <div class="chuxingcj_bottom_lib lib_10">出站</div>
          </div>
        </div>
      </section>
      <!-- 导航栏 -->
      <section class="section_nav">
        <!-- 导航栏 -->
        <nav class="nav_bar">
          <div class="nav_bar_container">
            <div class="nav_bar_bg"></div>
            <div class="nav_bar_item item_1">计划出行</div>
            <div class="nav_bar_item item_2">进入车站</div>
            <div class="nav_bar_item item_3">站内走行</div>
            <div class="nav_bar_item item_4">乘降列车</div>
            <div class="nav_bar_item item_5">车站换乘</div>
            <div class="nav_bar_item item_6">到达出站</div>
          </div>
        </nav>
        <!-- 导航内容 -->
        <div class="nav_container">
          <div class="nav_container_container">
            <section class="nav_container_item nav_container_1">
              <div class="con1_left_img"></div>
              <div class="con1_left_text">网站、APP、微信小程序</div>
              <div class="con1_right_item_1">
                <div>路线引导</div>
              </div>
              <div class="con1_right_item_2">
                <div>语音呼叫</div>
              </div>
              <div class="con1_right_item_3">
                <div>路线规划</div>
              </div>
              <div class="con1_right_item_4">
                <div>车厢预定</div>
              </div>
              <div class="con1_right_text">计划出行</div>
              <div class="con1_right_btn">……</div>
            </section>
            <section class="nav_container_item nav_container_2">
              <div class="con2_img"><div></div></div>
              <div class="con2_text1">可远程通过打电话或者移动端进行问询，C-IPSS系统包含机器人客服中心为乘客解疑答惑。</div>
              <div class="con2_text2">车站设有流动行走的问询机器人，可与你互动回答你提的问题。比如如何案件，如何去往直梯，如何购票等。</div>
            </section>
            <section class="nav_container_item nav_container_3">
              <div class="con3_left"><div></div></div>
              <div class="con3_text_1">可获知上下行的方向</div>
              <div class="con3_text_2">显示到站时间</div>
              <div class="con3_text_3">可以通过下拉框选择<br />上车站点</div>
              <div class="con3_text_4">显示即将到站列车<br />各车厢的拥挤度</div>
              <div class="con3_text_5">可滑动显示上行和<br />下行的列车信息</div>
              <div class="con3_right"></div>
              <div class="con3_exp_1">乘客通过安装在站台的屏幕来得知当前的线路和路网的状态，包括下几趟列车的到站时间及拥挤状态，以及站台的排队长度。</div>
              <div class="con3_exp_2">乘客选择在站内要去的地方，则可以在M-IPSS系统上获知如何行进</div>
            </section>
            <section class="nav_container_item nav_container_4">
              <div class="con4_left"></div>
              <div class="con4_top"></div>
              <div class="con4_bottom"></div>
              <div class="con4_exp_1">发布线路站点、前方到站的基础设施导航、车厢拥挤度信息、线网状态信息等。</div>
              <div class="con4_exp_2">紧急情况下，车窗可显示重大事件发布、疏散引导、行动提示等信息。</div>
              <div class="con4_exp_3">后续屏幕可用曲面屏，减少设备所占面积。</div>
            </section>
            <section class="nav_container_item nav_container_5">
              <div class="con5_top"></div>
              <div class="con5_left"></div>
              <div class="con5_exp_1">为乘客提供精准的换乘车次信息与换乘通道引导。</div>
            </section>
            <section class="nav_container_item nav_container_6">
              <div class="con6_top"></div>
              <div class="con6_left"></div>
              <div class="con6_exp_1">列车到站前，乘客可以通过车载PIS提前查看站内出入口及相应的地理位置信息。</div>
            </section>
          </div>
        </div>
      </section>
    </main>
    <!-- 加载footer组件 -->
    <%= require('raw-loader!../../raw/footer.html').default %>
  </body>
</html>
