<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- 加载header组件 -->
    <%= require('raw-loader!../../raw/header.html').default %>
    <main id="ts_main_shuzils">
      <section class="section_shuzils">
        <h3 class="sr-animate">数字化设计平台</h3>
        <h5 class="sr-animate">Digital Twins</h5>
        <h4 class="sr-animate">为轨道交通提供包含的设计、实施、验证、运营管理的全生命周期支持</h4>
        <a class="sr-animate" href="#">点击试用</a>
      </section>
      <section class="section_shuzih">
        <h3 class="section_shuzih_title sr-animate">从设计到维护全流程数字化</h3>

        <div class="item_list_top sr-animate">
          <div class="item">
            <p class="item_title">系统方案决策和初步设计</p>
            <span class="item_exp">傻瓜式生成路线初步设计、运营方案</span>
            <div class="item_img shuzih_img_1"></div>
          </div>
          <div class="item">
            <p class="item_title">技术方案研发与验证</p>
            <span class="item_exp">模型更新</span>
            <div class="item_img shuzih_img_2"></div>
          </div>
          <div class="item">
            <p class="item_title">运营状态预测和预警</p>
            <span class="item_exp">针对突发事故，预测未来状态，推荐实施预案。</span>
            <div class="item_img shuzih_img_3"></div>
          </div>
        </div>
        <div class="item_list_center sr-animate">
          <p class="item item_left">新线设计</p>
          <p class="item item_right">高效运营</p>
        </div>
        <div class="item_list_bottom sr-animate">
          <div class="item">
            <div class="item_img shuzih_img_4"></div>
            <p class="item_title">系统设计迭代</p>
            <span class="item_exp">模拟仿真运营，计算线路指标，系统方案优化</span>
          </div>
          <div class="item">
            <div class="item_img shuzih_img_5"></div>
            <p class="item_title">运营预案设计</p>
            <span class="item_exp">注入不同故障进行推演，依据预演结果，查看预案漏洞</span>
          </div>
        </div>
      </section>
      <section class="section_sanweicj">
        <h3 class="section_sanweicj_title sr-animate">三维重建</h3>
        <div class="section_sanweicj_item_list sr-animate">
          <div class="item">
            <div class="item_3D"></div>
            <p class="item_exp">数据采集</p>
          </div>
          <div class="item">
            <div class="item_3D"></div>
            <p class="item_exp">多视角图像</p>
          </div>
          <div class="item">
            <div class="item_3D"></div>
            <p class="item_exp">三维点云重建</p>
          </div>
          <div class="item">
            <div class="item_3D"></div>
            <p class="item_exp">贴图 - 拼接 - 修订 - 可视化</p>
          </div>
          <div class="item">
            <div class="item_3D"></div>
            <p class="item_exp">三维实体化模型</p>
          </div>
          <div class="item">
            <div class="item_3D"></div>
            <p class="item_exp">unity3D搭建3D应用平台</p>
          </div>
        </div>
      </section>
      <section class="section_pingguyc">
        <h3 class="section_pingguyc_title sr-animate">评估、预测和方案生成</h3>
        <div class="section_pingguyc_video sr-animate"></div>
      </section>
    </main>
    <!-- 加载footer组件 -->
    <%= require('raw-loader!../../raw/footer.html').default %>
  </body>
</html>
